header{
  top: 0px;
  position: absolute;
  left: 0px;
  background-color: #7FB069;
  height: 45px;
}
footer{
  position: absolute;
  width: 1435px;
  height: 84px;
  left: 0px;
  top: 1525px;
  background: #486B38;
}

.fondo1{
  position: absolute;
  background: #7FB069;
  width: 1435px;
  top: 45px;
  left: 0px;
  height: 500px;

}

.imagen{
  top: 50px;
  margin-left: 900px;
  position: absolute;
  

}

.texto1{
  margin-top: 60px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-style: bold;
  text-indent: 0px;
  font-size: 120px;
  color: #E6AA68;
  width: 900px;
  margin-left: 0px;

}

.content{
  position: absolute;
  margin-top: 490px;
  width: 1435px;
  height: 400px;
  font-family: 'Barlow Condensed', sans-serif;
  text-indent: 800px;
  font-style: bold;
  font-size: 70px;
  background-color: #E5A48A;
  left: 0px;
}
.content1{
  position: absolute;
  margin-top: 820px;
  left: 0px;
  width: 1435px;
  font-family: 'Barlow Condensed', sans-serif;
  text-indent: 250px;
  font-style: bold;
  font-size: 70px;
  background-color: #9F9FD1;
}
.content2{
  position: absolute;
  margin-top: 1150px;
  left: 0px;
  width: 1435px;
  height: 400px;
  font-family: 'Barlow Condensed', sans-serif;
  text-indent: 800px;
  font-style: bold;
  font-size: 70px;
  background-color: #ECE4B7;

}
.img1{
  position: absolute;
  margin-top: 550px;
  margin-left: 200px;
  height: 200px;
  border-radius: 50px;

}

.img2{
  position: absolute;
  margin-top: 900px;
  margin-left: 700px;
  height: 200px;
  border-radius: 50px;

}

.img3{
  position: absolute;
  margin-top: 1220px;
  margin-left: 210px;
  height: 200px;
  border-radius: 50px;

}

.img4{
  position: absolute;
  margin-top: 10px;
  margin-left: 1000px;
  height: 60px;
  border-radius: 50px;

}
.img5{
  position: absolute;
  margin-top: 10px;
  margin-left: 1110px;
  height: 65px;
  border-radius: 50px;

}

/* Navbar container */
.navbar {
  width: 435px;
  padding-left:  1000px;
  overflow: hidden;
  background-color: #486B38;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #A4C794;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #486B38;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}


